.table-container {
    max-width: 40vw;
    max-height: 100vh;
}

.table-ol  {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  


.table-head-sales {
  width: 5rem ;
}

.table-data-sales {
  background-color: ghostwhite;
}


.table-head-shifts {
  width: 9rem ;
}

.table-data-shift {
  background-color: ghostwhite;
}