*{
  margin: 0;
  padding: 0;
  background-color: #222326;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.table-ol  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.card {
  width: 18rem;
  margin: 3rem;
}

.dark-text{
  color: #222326;
}
.purple-back{
  background-color: #D97EF2;
}

.table-data {
  color: #f2f2f2;

}

.purple-text {
  color: #D97EF2;
}

.grey-text{
  color: #F2F2F2;
}

.btn-outline-purple {
  color: #D97EF2;
    font-weight: 400;
    border: 1px solid #D97EF2;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 1rem;
}

.btn-outline-green {
  color: #99C794;
    border: 1px solid #99C794;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 1rem;
}

table-head-shifts {
  width: 9rem ;
}
