* {
  margin: 0;
  padding: 0;
  background-color: #222326;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  color: #f2f2f2;
}

.table-ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  width: 18rem;
  margin: 3rem;
}

.dark-text {
  color: #222326;
}
.purple-back {
  background-color: #d97ef2;
}

.purple-text {
  color: #d97ef2;
}

.grey-text {
  color: #f2f2f2;
}

.green-text {
  color: #99c794;
}
